.tile {
    display: inline-flex;
    background-color: #42b842;
}

.grass {

}

.chest {
    background-image: url('/tiles/chest.png')
}

.rock {
    background-image: url('/tiles/rock.png')
}

.tree {
    background-image: url('/tiles/tree.png')
}